<!-- Navbar -->
<nav class="navbar navbar-transparent gradiente-navbar">
  <div class="container-fluid px-lg-4">
    <a class="navbar-brand text-light fonte-titulo fw-semibold" routerLink="/">
      <i class="bi bi-camera-reels-fill fs-3"></i>
      MOVIEPOP
    </a>
    <div class="justify-content-center d-flex gap-3 d-inline">
      <a routerLink="/">
        <button
          class="btn btn-sm bi-house-fill fw-semibold btn-outline-light rounded-1"
        >
          INÍCIO
        </button>
      </a>
      <a routerLink="/">
        <button
          class="btn btn-sm bi-filter fw-semibold btn-outline-light rounded-1"
        >
          CATEGORIAS
        </button>
      </a>
    </div>
  </div>
</nav>
